<h1>Gerenciador de Arquivos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Local</th>
      <th>Tipo</th>
      <th>Criado em</th>
    </tr>
  </thead>
  <tbody>
    <% @directories.each do |dir| %>
      <%= render partial: 'directory', locals: { directory: dir, indent: 0 } %>
    <% end %>
  </tbody>
</table>
